// 样式常量

// 圆角大小
$circleRadiusSize: 3px;
// 表单输入框宽度
$formInputWidth: 240px;
// 导航栏颜色
$headerNavbarBgColor: #383a43;
// 列表表头颜色
$tableHeaderBgColor: #c6ccd2;
// 标题容器高度
$headerContainerHeight: 52px;
// 正文字体大小(默认)
$defaultFontSize: 12px;
// 中号字体大小
$mediumFontSize: 14px;
// 大号字体大小
$largeFontSize: 16px;
// 界面外边距
$idealMargin: 20px;
// 界面内边距
$idealPadding: 20px;
// 侧边栏宽度
$sidebarWidth: 200px;
// 侧边栏收起宽度
$sidebarSmallWidth: 49px;
// 默认
$defaultSize: 10px;
// 中号
$middleSize: 16px;
// 大号
$largeSize: 20px;

/*-------色彩规则-------*/
/* 容器背景色 */ 
// 默认页面底层背景
$bgColorPage: #EEEEEE;
// 主要容器背景 次要层级页面背景
$bgColorContainer: white;
// 次要容器背景
$bgColorSecondaryContainer: #F3F3F3;
// 组件背景 主要容器之上组件背景
$bgColorComponent: #DCDCDC;
// 默认组件分割线
$componentStroke: #DCDCDC;
// 默认边框
$componentBorder: #C5C5C5;
// 主要容器背景hover 次要层级页面背景hover
$bgColorContainerHover: #F3F3F3;
// 主要容器背景click 次要层级页面背景click
$bgColorContainerActive: #E7E7E7;
// 次要容器背景hover
$bgColorSecondaryContainerHover: #EEEEEE;
// 次要容器背景click
$bgColorSecondaryContainerActive: #DCDCDC;
// 组件背景hover 主要容器之上组件背景hover
$bgColorComponentHover: #C5C5C5;
// 组件背景active 主要容器之上组件背景active
$bgColorComponentActive: #A6A6A6;
// 组件背景disabled 主要容器之上组件背景disabled
$bgColorComponentDisabled: #EEEEEE;

/* 文字图标色彩 */
// 主要文字色彩
$textColorPrimary: #000;
// 次要文字
$textColorSecondary: #5E5E5E;
// 占位符文字色彩
$textColorPlaceholder: #8B8B8B;
// 文字disabled
$textColorDisabled: #C5C5C5;
// 文字反色色彩
$textColorAnti: white;
// 主题色文字色彩
$textColorBrand: #366EF4;
// 链接文字
$textColorLink: #366EF4;

/* 主题色 */
// 主题色
$brandColor: #366EF4;
// 主题色hover
$brandColorHover: #0152D9;
// 主题色active
$brandColorActive: #003DAA;
// 主题色disabled
$brandColorDisabled: #B5C6FF;
// 主题色focus
$brandColorFocus: #D9E1FF;
// 主题色light交互状态
$brandColorLight: #F2F3FF;
// 错误色
$errorColor: #D54941;
// 错误色hover
$errorColorHover: #F6685D;
// 错误色active
$errorColorActive: #AD352F;
// 错误色disabled
$errorColorDisabled: #FFB9B0;
// 错误色focus
$errorColorFocus: #FFD8D2;
// 错误色light交互状态
$errorColorLight: #FFEFEB;
// 警示色
$warningColor: #F3AD3C;
// 警示色hover
$warningColorHover: #F8D877;
// 警示色active
$warningColorActive: #F5C352;
// 警示色disabled
$warningColorDisabled: #FBE8A3;
// 警示色focus
$warningColorFocus: #FDF5D0;
// 警示色light交互状态
$warningColorLight: #FFFBED;
// 成功色
$successColor: #2AA471;
// 成功色hover
$successColorHover: #55C08D;
// 成功色active
$successColorActive: #028858;
// 成功色disabled
$successColorDisabled: #92DAB2;
// 成功色focus
$successColorFocus: #C6F3D7;
// 成功色light交互状态
$successColorLight: #E3F9E9;

/*-------色彩-------*/
// 主题蓝
$brand1-light: #F2F3FF;
$brand2-light: #D9E1FF;
$brand3-light: #B5C7FF;
$brand4-light: #8EABFF;
$brand5-light: #618DFF;
$brand6-light: #366EF4;
$brand7-light: #0052D9;
$brand8-light: #003CAB;
$brand9-light: #002A7C;
$brand10-light: #001A57;
// 危险色
$error1-light: #FFF0ED;
$error2-light: #FFD8D2;
$error3-light: #FFB9B0;
$error4-light: #FF9285;
$error5-light: #F6685D;
$error6-light: #D54941;
$error7-light: #AD352F;
$error8-light: #881F1C;
$error9-light: #68070A;
$error10-light: #490002;
// 警示
$warning1-light: #FFF1E9;
$warning2-light: #FFD9C2;
$warning3-light: #FFB98C;
$warning4-light: #FA9550;
$warning5-light: #E37318;
$warning6-light: #BE5A00;
$warning7-light: #954500;
$warning8-light: #713300;
$warning9-light: #532300;
$warning10-light: #3B1700;
// 安全
$success1-light: #E3F9F9;
$success2-light: #C6F3D7;
$success3-light: #92DAB2;
$success4-light: #56C08D;
$success5-light: #2BA471;
$success6-light: #008858;
$success7-light: #006C45;
$success8-light: #005334;
$success9-light: #003B23;
$success10-light: #002515;
// 中性灰色
$gray1-light: #F3F3F3;
$gray2-light: #EEEEEE;
$gray3-light: #E7E7E7;
$gray4-light: #DCDCDC;
$gray5-light: #C5C5C5;
$gray6-light: #A6A6A6;
$gray7-light: #8B8B8B;
$gray8-light: #777777;
$gray9-light: #5E5E5E;
$gray10-light: #4B4B4B;
$gray11-light: #383838;
$gray12-light: #2C2C2C;
$gray13-light: #242424;
$gray14-light: #181818;
// 辅助灰色
$sub1-light: #F3F3F4;
$sub2-light: #EEEEF0;
$sub3-light: #E7E8EB;
$sub4-light: #DCDDE1;
$sub5-light: #C4C6CD;
$sub6-light: #A2A6B1;
$sub7-light: #858A99;
$sub8-light: #6F7686;
$sub9-light: #535D6D;
$sub10-light: #424A57;
$sub11-light: #323843;
$sub12-light: #272B34;
$sub13-light: #20232B;
$sub14-light: #15181D;
